.button {
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    height: 3rem;
    padding: 1rem;
    font-weight: bold;    
    display: block;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: color 0.1s, background-color 0.1s;
}

.button:hover {
    background-color: var(--blue);
    color: var(--gray-100);
}